<style>
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #240e0e;
  color: #e7c0c0;
  padding: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #f1f0f0;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

aside {
  flex-basis: 30%;
}

.profile {
  text-align: center;
}

.profile img {
    border: 2px solid black;
    border-radius: 50%;
  width: 250px;
}

.social media img{
  ;
  width: 250px;
  border : none

}

article {
  flex-basis: 55%;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
</style>